.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__item {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.faq__question {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px 20px 30px;
    list-style: none;
}

.faq__question::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

.faq__question::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("../icons/plus.svg") no-repeat center;
    background-size: contain;
}

/* минус при открытии */
.faq__item[open] .faq__question::before {
    background: url("../icons/minus.svg") no-repeat center;
    background-size: contain;
}

.faq__answer {
    font-size: 16px;
    line-height: 1.6;
    padding: 0 20px 20px 30px;
    color: #555;
}

.faq__item[open] {
    background-color: var(--color-gray-blue);
}

.faq__item[open] .faq__question {
    color: var(--color-green);
}


