.faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

summary {
    list-style: none;
    position: relative;
    display: block;
    cursor: pointer;
    padding-right: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  position: absolute;
  left: -20px;
}

details[open] summary::after {
  content: "–";
  color: var(--color-green);
}

.faq__item {
    background-color: var(--color-gray-blue);
}