@use '../media' as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--color-gray);
    background-color: var(--color-black);
    padding: 40px;

    @include mobile {
        flex-direction: column;
    }
}

.footer__logo {
    padding: 40px;
}

.footer__link {
    text-decoration: none;
    color: var(--color-gray);
}

.footer__contacts a {
    text-decoration: none;
    color: var(--color-gray);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.footer__nav {
    text-align: center;
}

.footer__list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__phone::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../icons/call_phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

.footer__email::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../icons/email.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}