@use '../media' as *;

.header__info {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr;
    align-items: center;
    z-index: 100;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    gap: 10px;
    padding: 25px;

    @include tablet{
        max-width: 970px;
        grid-template-columns: 1fr 1.5fr 1fr 1fr;
        grid-template-areas:
        "a c d e"
        "b b b b";
    }

    @include mobile {
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        grid-template-areas:
        "f a g";
        max-width: 590px;
        padding: 25px;
    }
}

.header__nav {

    @include tablet {
        grid-column: 1 / -1;
        border-top: 1px solid var(--color-green);
        border-bottom: 1px solid var(--color-green);
        padding: 15px 0px;
        margin: 10px 0px;
    }

    @include mobile {
        display: none;
    }
}

.header__burger {
    display: none;

    @include mobile {
        grid-area: f;
        display: block;
        background: none;
        border: none;
    }
}

.header__logo {

     @include tablet {
      grid-area: a;
    }
}

.header__menu {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-right: 10px;

    @include tablet {
    grid-area: b;
    }
}

.header__link {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.header__link-active {
    color: var(--color-green );
    border: 1px solid var(--color-green);
    border-radius: 10px;
}

.header__call {
    display: flex;
    flex-direction: column;
    font-size: 10px;

    @include tablet {
    grid-area: c;
 }

    @include mobile {
    display: none;
 }
}

.header__phone {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-black);
    gap: 5px;
    font-size: 12px;
}

.header__time {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.header__socials-group {
    display: none;
    

    @include tablet {
    display: flex;
    justify-content: space-between;
    grid-area: d;
    }

    @include mobile {
    display: none;
    }
}

.header__socials {
    width: 40px;
    height: 40px;
}

.button__icon {
    display: none;

    @include mobile {
        display: block;
        width: 50%;
        filter: brightness(0) invert(1);
    }
}