@use '../media' as *;

.price-calculator__inner {
    display: flex;
    justify-content: space-around;
    background-image:
    linear-gradient(to right, #ffffff 0%, rgba(255,255,255,0) 100%),
    url(../../images/banner.png);
    background-size: cover;
    background-position: center;

    @include tablet {
        flex-direction: column;

        .price-calculator__info {
           justify-content: center;
        }
    }

    @include mobile {
        margin-top: 20px;


    }
}

.price-calculator__info {
    display: grid;
}

.price-calculator__title span {
    background-color: var(--color-green);
    border-radius: 5px;
    color: var(--color-light);
}

.benefits-calc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 15px;
}

.benefits-calc-item p {
    font-weight: 800;
}

.benefits-calc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.calculation-form {
    padding: 0 20px;
}

.price-calculator__calc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #ffffff;
}

.price-calculator__calc h2 {
    font-size: 15px;
}


.calc-property-selector {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 10px;
    font-size: 15px;
}

.calc-property-selector h3 {
    font-size: 15px;
    color: var(--color-gray-alt);
}

.calc-repair-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.calc-room-selector {
    display: flex;
    gap: 10px;
}


.calc-info-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.calc-info-item p {
    color: var(--color-blue);
    font-weight: bold;
}

.calc-info-item h3 {
    color: var(--color-blue);
    font-weight: lighter;
}


.callback-form {
    margin-top: 15px;
}

.phone-form__row {
    @include mobile {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}


.calc_button_phone-form {
    border: 1px solid var(--color-green);
    color: var(--color-green);
    border-radius: 5px;
    background: none;
}

.phone-form__input {
    border: 1px solid var(--color-gray);
}

.phone-form__title {
    margin-bottom: 10px;
}