@use '../media' as *;

.repair-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.repair-tapes__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
    min-width: 0;

    @include mobile {
        display: flex;
        overflow-x: auto; 
        width: 100%;
        scroll-snap-type: x mandatory;
    }
}

.repair-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    overflow: hidden;

    @include mobile {
        flex: 0 0 260px;
        scroll-snap-align: start;
    }
}

.repair-card h3 {
    margin: 0;
}


.repair-card > *:not(.repair-card__top) {
    padding: 15px 10px;
}

.repair-card__top {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-gray-blue);
}

.repair-card__top-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}

.repair-card__top-info h3,
.repair-card__top-info span {
    margin: 0;
    line-height: 1.2;
}

.repair-card__works__list h3 {
    margin: 0;
}

.repair-card__woprks-item::before {
    content: "✓ ";
    position: relative;
    left: 0;
}

.repair-card__top-info h3 {
  margin-top: 0;
  color: var(--color-green);
}

.repair-card__description {
    flex-grow: 1;
    border-bottom: 2px solid var(--color-blue);
}

.some-class {
    text-decoration: line-through;
}

.repair-card__price {
    display: flex;
    gap: 8px;
}

.repair-card__price-value {
    font-weight: bold;
    color: var(--color-green);
}

.repair-card__buttom {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: auto;
    gap: 10px;
}
