:root {
    --color-light: #F2F2F2;
    --color-blue: #2D4872;
    --color-black: #171616;
    --color-green: #6CAC3D;
    --color-gray: #C4C4C4;
    --color-gray-alt: rgb(109, 107, 103);
    --color-gray-blue: #E3EAEF;

    --width-desktop: 1200px;

    
}
